<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/Img/logo3.ico" />
    <meta
        content="<%= i18n.t('metaDescription') %>"
        name="description">
    <meta content="Oralora - <%= i18n.t('metaOgTitle') %>"
        property="og:title">
    <meta
        content="<%= i18n.t('metaDescription') %>"
        property="og:description">
    <meta content="/static/ogImage.png" property="og:image">
    <title>Oralora | <%= i18n.t(category); %></title>
    <link href="/assets/css/challStyle.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/youtubeApi.js" defer></script>
    <script src="/assets/js/scriptForLang.js" defer></script>
    <script src="/assets/js/challScript.js" defer ></script>
    <script src="/assets/js/youtubeIframe.js" defer></script>
    
</head>

<body>
    
    <%- include('header.ejs') %>

<div id="divContainer"> <!-- div container-->
    <div id="divGlobal"> <!-- div global-->
        <div id="divHeader"> <!-- div header-->
            <span id="spanCategory"><%= i18n.t(category); %></span>
            <select name="filter"  id="selectFilter" onchange="onChangeFilter()"> <!-- select filter-->
                <option <%= diff %> value="difficulty"><%= i18n.t("difficulty"); %></option>
                <option <%= dura %> value="duration"><%= i18n.t("duration"); %></option>
            </select>
           <a href="/suggest"><button id="buttonSuggest"><%= i18n.t("suggest"); %></button></a>
        </div> 
        
        <% var a = 0; var divClass; %>
        <% USVids.forEach((key) => { 
            if (a % 2 == 0) {
                divClass = 'divLoop';
            } 
            else {
                divClass = 'divLoop2';
            } 
        %>
       
        <div class=<%= divClass %>> <!-- div for-->
            <a class="aLoop" onclick="redirectYT('<%= key.id %>')"> <!-- a for-->
            <div class="divContent"> <!-- div content-->
                <div class="divImage"> <!-- div image-->
                    <img class="imgThumbnail" src='<%= key.thumbnail %>' alt="">
                </div>
                <div class="divEverythingElse"> <!-- div reste-->
                    <div class="divTitleChannel"> <!-- div titre/chaine-->
                        <span class="spanTitle" ><%= key.title %></span>
                        <span class="spanChannel"><%= i18n.t("levelWord"); %> <%= key.difficulty %></span>
                    </div>

                    <div class="divDurationStar"> <!-- div durée/star-->
                        <div class="divDuration"> <!-- div durée-->
                            <img class="imgHourglass" src="/assets/Img/hourglassWhite.png" alt="">
                            <span class="spanDuration"><%= key.duration %></span>
                        </div>
                        <div class="divTotalWords"> <!-- div star-->
                            <%= i18n.t("totalWords"); %> : 
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>


        <% a = a+1}) %>

    </div>
    </div>

    


</body>

</html>