<!DOCTYPE html>
<html lang="<%= i18n.t('htmlLang') %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/Img/logo3.ico" />
    <meta
        content="<%= i18n.t('metaDescription') %>"
        name="description">
    <meta content="Oralora - <%= i18n.t('metaOgTitle') %>"
        property="og:title">
    <meta
        content="<%= i18n.t('metaDescription') %>"
        property="og:description">
    <meta content="/static/ogImage.png" property="og:image">
    <title>Oralora</title>
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/youtubeIframe.js" defer></script>
    <script src="/assets/js/script.js" defer></script>
    <script src="/assets/js/youtubeApi.js" defer></script>
    <script src="/assets/js/scriptForLang.js" defer></script>

</head>

<body>

    <%- include('header.ejs') %>

    <div id="divNotLoading"><div id="loading0"></div></div>

    <div id="divInformations">
        <div id="divInfoSon">
            <img id='cross' src="assets/Img/crossNormal.png" alt="Cross">
            <img id='parchment' src="assets/Img/parchment.png" alt="Informations">
            <div id="divParagraph">
                <h2>Informations</h2>
                <p class='paragraph'><%- i18n.t("informations"); %></p>
                <p class='paragraph'><%- i18n.t("translateInfos"); %></p>
                <p class='paragraph'><%- i18n.t("translateExplanation"); %></p>
                <img id='imgTranslateExplanation' src="assets/Img/translateExplanation.png" alt="How to translate">
                <p class='paragraph'><%- i18n.t("lastInfo"); %></p>
            </div>
            
        </div>
    </div>
    
        <div id="globalSection">

            <section id="homeSection">

                <div id="globalTitle">

                    <div id="title">Oralor</div>
                    <span class="spanExplain"><%= i18n.t("hook"); %><!--The best way to learn a language.--></span>
                </div>

                <div id="divExplain">
                    <div id="divExplainLeft">
                        <span class="spanExplain"><%= i18n.t("explain1"); %></span>
                        <img class="imgExplain" src="assets/Img/youtubeURL.png" alt="How to get a youtube link">

                        <span class="spanExplain"><%= i18n.t("explain2"); %></span>
                        <img class="imgExplain" src="assets/Img/pasteIt.png" alt="How to past the link to an input">
                        

                    </div>
                    <div id="divExplainCenter">
                        <img class="imgExplain" id='imgArrowMiddle' src="assets/Img/arrowCenter.png" alt="Arrow">
                        <button onclick="scrollToInput()" id="try"><%= i18n.t("try"); %></button>
                    </div>
                    <div id="divExplainRight">
                        <span class="spanExplain"><%= i18n.t("explain3"); %></span>
                        <img class="imgExplain" src="assets/Img/inputWrite.png" alt="How to write down what you ear">
                        <span class="spanExplain"><%- i18n.t("explain4"); %></span>
                    </div>

                </div>

            </section>

            <section id="inputSection">

                <div id="inputLoadingDiv">
                    <input placeholder="<%= i18n.t('inputUrl'); %>" autocomplete="off" type="text" id="urlInput" name="urlInput">
                    <span id="invalidURL"></span>
                    <div id="loading"></div>
                </div>
            </section>

            <section id="videoSection">

                <div id="player"></div>

            </section>

            <section id="guessSection">

                <div id="allGuess">
                    <div id="parentScore">
                        <div id="scoreDiv">Score : <span id="currentScore"></span> / <span id="totalWords"></span></div>

                    </div>

                    <div id="foundArea"></div>
                    <div id="parentGuess">
                        <textarea placeholder="<%= i18n.t('outputPlaceholder'); %>.." id="guessArea"></textarea>
                        <div id='parentGuessButton'>
                            <button onclick="guessButton()" id="guessButton">GUESS</button>
                            <img onclick="displayRules()" id="imgRules" src="/assets/Img/rulesWhite.png" alt="Rules">
                        </div>
                    </div>
                    <div id="command">

                        <div>
                            <img class="playRepeat" id="repeat" onclick="repeatAWord()" src="/assets/Img/backSec2.png" alt="Back 1.5sec before button">
                            <span><%= i18n.t("repeat"); %></span>
                            <span class="shortcut"></span>
                        </div>

                        <div>
                            <img class="playRepeat" id="replay" onclick="replayVideo()" src="/assets/Img/Repeat3.png" alt="Replay segment button">
                            <span><%= i18n.t("replay"); %></span>
                            <span class="shortcut"></span>
                        </div>

                        <div>
                            <img class="playRepeat" id="play" onclick="toggleVideo()" src="/assets/Img/pauseButton2.png" alt="Play/Pause button">
                            <span><%= i18n.t("pause"); %></span>
                            <span class="shortcut"></span>
                        </div>


                    </div>
                </div>
            </section>
        </div>
</body>

</html>